@charset "UTF-8";
/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
}

/* og látum erfast á allt */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* hjálpar class sem felur sjónrænt en skjálesarar lesa */
.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* Stillingar */
:root {
  --font-size-base: 16px;
  --font-size-headings: 1.5rem;
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;
  /* Bil á milli „stærri“ eininga (header, efnisbox, footer) */
  --vertical-space: calc(var(--gutter) * 1);
  --vertical-space-large: calc(var(--gutter) * 1.5);
  /* Hámarks og lágmarks breidd á efni */
  --max-width: 1200px;
  --min-width-image: 200px;
  --max-width-image: 300px;
  --max-width-footer-section: 250px;
  /* Border breiddir */
  --border-width: 1px;
  --border-radius-regular: 0px;
  --border-radius-image: 10px;
  --border-regular: 1px solid #000; /* todo longhand */
  --border-with-background: 4px solid #cc99bb;
  /* Grid stillingar */
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
  /* Breidd á efni með offset */
  --width-offset: calc(100% - (2 * var(--offset)));
  /* Litir */
  background: var(--color-white);
  /** Litir með nafni **/
  --color-yellow: #f3dd99;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-purple: #eebbdd;
  --color-purple-dark: #cc99bb;
  --color-lgrey: #d0d0d0;
  --color-grey: #5e5b69;
  --color-nav-grey: #262626;

  --color-light: #e3cdb1;
  --color-grey-fyrir-texta2: #9b9b9b;
  --color-grey-fyrir-texta: #5e5b69;
  --color-brown: #e3cdb1;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-white2: #fafafa;
  --color-grey2: #d0d0d0;
  /** Litir með notkun **/
  --color-background-primary: var(--color-white);
  --color-background-secondary: var(--color-white);
  --color-background-form: var(--color-white);
  --color-border-with-background: var(--color-white);
  --color-background-primary: var(--color-white);
  --color-background-secondary: var(--color-white2);
  --color-background-form: var(--color-black);
  --color-border-with-background: var(--color-grey2);
  /* Letur stillingar */
  --font-base-size: 1rem;
  --font-family-base: "Poppins", "Open Sans", Arial, Helvetica, sans-serif;
  --font-family-heading: "Playfair Display", "Comic Sans MS", cursive;
  /* Transitions */
  --transition-time-short: 300ms;
  --transition-time-long: 600ms;
  --transition-timing-function: ease-in-out;
}

/* Almennt */
/** Letur og stærðir **/
/*** Grunnstærð er 16px ***/
html {
  font-size: var(--font-size-base);
}

/*** Leturgerðir sem við sækjum úr fonts/ möppu ***/
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("./fonts/PlayfairDisplay-VariableFont_wght.ttf") format("woff2");
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./fonts/PlayfairDisplay-VariableFont_wght.ttf") format("woff2");
}
@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src: url("./fonts/Poppins/Poppins-Regular.ttf") format("woff2");
}
/*** Allt meginmál notar open sans ***/
html,
input,
select {
  font-family: var(--font-family-base);
  color: #5e5b69;
}

button {
  color: #e3cdb1;
}

/*** Allar fyrirsagnir nota Matemasie regular ***/
h1,
h2,
h3,
legend {
  font-family: var(--font-family-heading);
  color: #000000;
}

/** Lætur myndir aldrei taka meira pláss en foreldri skilgreinir **/
img {
  max-width: 100%;
}

/** Litur á hlekkjum erfist frá foreldri **/
a {
  color: inherit;
  text-decoration: none;
}

.month {
  color: #9b9b9b;
  size: 14px;
}

.readmore {
  color: #e3cdb1;
  size: 16px;
}

.website {
  color: #d0d0d0;
}

.craving {
  color: #e3cdb1;
}

.whitetext {
  color: var(--color-white);
}

/** Almennt takka útlit, getur virkað á bæði <a> og <button> **/
.button {
  display: inline-block;
  padding: calc(var(--spacing) * 0.5) var(--spacing);
  /* border: var(--border-regular);
  border-radius: var(--border-radius-regular);
  border-width: var(--border-width);
  border-color: #e3cdb1; */
  color: var(--color-light);
  background-color: var(--color-white);
  font-size: 1rem;
  text-decoration: none;

  transition: background-color var(--transition-time-short)
      var(--transition-timing-function),
    color var(--transition-time-short) var(--transition-timing-function);
  /* border-color var(--transition-time-short) var(--transition-timing-function); */
}

.button:hover {
  color: var(--color-background-primary);
  background-color: var(--color-light);
  border-color: var(--color-light);
  background-image: linear-gradient(
    to right,
    --color-light 50%,
    transparent 50%
  );
}

/* Fade in animation */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Til að transition sé ekki frá hvítum */
html {
  background-color: var(--color-background-primary);
}

header,
.wrapper {
  animation: var(--transition-time-long) var(--transition-timing-function)
    fade-in;
}

/**
 * Eftirfarandi setur upp grunn umbrot (layout) síðu með flexbox.
 * Við förum yfir flexbox í viku 4 en þangað til er hægt að nota þetta
 * sem grunn og án breytinga.
 * Athugið að til þess að þetta virki þar að setja <div class="wrapper"> utan um allt efni 
 * innan <body>.
 */
.wrapper {
  /* Notum grid hér til að setja upp bil á milli header, meginmáls og fóts */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  /* grid items eru miðjuð */
  justify-items: center;
  gap: var(--vertical-space);
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background-primary);
}

@media (min-width: 800px) {
  .wrapper {
    gap: var(--vertical-space-large);
  }
}
.wrapper .wrapper-content {
  width: var(--width-offset);
  max-width: var(--max-width);
}

/* header {
  position: sticky;
  top: 0;
} */
.wrapper .wrapper-nav {
  margin-bottom: var(--spacing);
}

@media (min-width: 800px) {
  .wrapper .wrapper-content {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: var(--gutter);
  }
  .wrapper .wrapper-nav {
    grid-column: span 12;
  }
  .wrapper .wrapper-main {
    grid-column: span 12;
  }
}
/* Það sem fylgir er tillaga að uppbyggingu á selectorum fyrir verkefnið */
/** Haus á síðum **/
.wrapper-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 3rem;
  font-family: "Poppins";
  font-weight: 400;
  color: var(--color-nav-grey);
}
.dummy {
  width: 58%;
}

header {
  display: grid;
  /*  padding: var(--spacing) calc(var(--spacing) * 1.5); */
  width: 100%;
  background-color: var(--color-background-secondary);
}

/** Valmynd **/
nav {
  position: sticky;
  top: 0;
  width: 100%;
}

nav ul {
  display: flex;
  flex-wrap: nowrap;
  justify-content: right;
  gap: var(--spacing);
  list-style: none;
}

nav ul li {
  margin-bottom: calc(var(--spacing) / 2);
  text-align: right;
}

@media (min-width: 800px) {
  nav ul {
    display: block;
  }
}
/** Meginmál og efni forsíðu **/
main {
  width: 100%;
}

/**
 * notum þetta til að fá bil á milli eininga _almennt_
 * en ekki að hver eining þurfi að huga að bili
 */
main > .content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
}

/*** Inngangsefni á forsíðu ***/
.hero {
  display: grid;
  background: url("./myndir/Background-Header-Image-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  overflow: visible;
  height: 80vh;
  position: relative;
  width: 100%;
  justify-items: center;
}

/* .hate {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(var(--columns), 1fr);
  gap: var(--gutter);
  position: relative;
  gap: var(--vertical-space);
  width: var(--width-offset);
  max-width: var(--max-width);
  } */

/* .hero-text {
  grid-column: span 12;
} */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--spacing);
}

.intro img {
  order: 1;
  border-radius: var(--border-radius-image);
}

@media (min-width: 500px) {
  .intro {
    flex-direction: row;
  }
  /* .intro img {
    max-width: var(--max-width-image);
  } */
}
/** bók **/
.mag {
  display: grid;
  background-color: #f7f1eb;
  /* background: url("./myndir/Background-Header-Image-1.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 100%;
  overflow: visible;
  height: 80vh;
  position: relative;
  width: 100%;
  justify-items: center;
  padding-bottom: 10rem;
}

.wrapper-content > .mag-text {
  grid-column: 2 / span 5;
}

.wrapper-content > .mag-img {
  display: grid;
  grid-column: 8 / span 4;
}

.description {
  display: flex;
  flex-direction: column;
}
.card > .description {
  justify-content: left;
}

.hero-text {
  grid-column: span 5;
}

.t2 {
  display: flex;
  flex-direction: row;
}

.t2 > h2 {
  padding-right: 0.5rem;
}
.t1 > h1 {
  padding-right: 0.5rem;
}
.t1 {
  display: flex;
  flex-direction: row;
}

.t2 > .check {
  color: #d0d0d0;
}

.actions {
  display: grid;
  grid-column: span 12;
  margin-top: var(--spacing);
}

.see {
  border: var(--border-regular);
  border-radius: var(--border-radius-regular);
  border-width: var(--border-width);
  border-color: #e3cdb1;
}

.card > .content > .actions {
  display: flex;
  justify-content: space-between;
  gap: var(--spacing);
  margin-top: var(--spacing);
}

/** Fótur **/
footer {
  display: grid;
  justify-items: center;
  padding-top: var(--spacing);
  padding-bottom: var(--spacing);
  border-top: 4px solid var(--color-border-with-background);
  width: 100%;
  background-color: var(--color-background-secondary);
  text-align: center;
}

footer > .content {
  display: grid;
  justify-content: center;
  gap: var(--vertical-space);
}

footer > section {
  text-align: center;
}

footer ul {
  list-style: none;
}

footer h2 {
  margin-bottom: var(--spacing);
}

@media (min-width: 700px) {
  footer > .content {
    grid-template-columns: repeat(var(--columns), 1fr);
    grid-template-rows: auto;
    width: var(--width-offset);
    max-width: var(--max-width);
  }
  footer .content > section {
    grid-column: span 4;
  }
}
/* Wrapper */
.wrapperRoman {
  /* Notum grid hér til að setja upp bil á milli header, meginmáls og fóts */
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 100%;
  /* grid items eru miðjuð */
  justify-items: center;
  gap: var(--vertical-space);
  width: 100%;
  min-height: 100vh;
  background-color: var(--color-background-primary);
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.wrapper-contentRoman {
  width: var(--width-offset);
  max-width: var(--max-width);
}

.wrapper-navRoman {
  margin-bottom: var(--spacing);
}

/** Valmynd **/
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

nav ul {
  list-style: none;
  text-align: center;
}

nav ul li {
  display: inline-block;
  margin-right: 1rem;
}

.topLine {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/** Meginmál og efni forsíðu **/
main {
  width: 100%;
}

/**
 * notum þetta til að fá bil á milli eininga _almennt_
 * en ekki að hver eining þurfi að huga að bili
 */
main > .content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
}

/** Cards **/
.cards {
  display: grid;
  grid-template-rows: auto;
  gap: var(--vertical-space);
  justify-items: center;
  width: 100%;
}

.cards > .content {
  display: grid;
  grid-template-rows: auto;
  gap: var(--vertical-space);
  justify-items: center;
  width: 100%;
}

@media (min-width: 700px) {
  .cards > .content {
    grid-template-columns: repeat(calc(var(--columns)), 1fr);
    grid-template-rows: auto;
  }
}
/** Card **/
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media (min-width: 700px) {
  .card {
    grid-column: span 6;
  }
}
@media (min-width: 1200px) {
  .card {
    grid-column: span 4;
  }
}
.card > .image {
  width: 100%;
}

.card > .image img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}

.card > .content {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--spacing);
}

.card > .content h3 .readmore {
  width: 50%;
}

.card > .content .month {
  width: 100%;
}

.button:active {
  color: var(--color-background-secondary);
  background-color: var(--color-black);
  border-color: var(--color-background-secondary);
}

footer {
  display: flex;
  flex-direction: column;
}

footer > p {
  display: flex;
  justify-content: center;
}

.samf {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/** Svarta kassi **/
.subscribe {
  color: var(--color-white);
}

.cardsFlex {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
}

.cardsFlex > .title {
  width: 100%;
  text-align: center;
}

.cardsFlex > .content {
  display: flex;
  justify-content: center;
  gap: calc(var(--spacing) * 2);
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

/** Card **/
.cardFlex {
  display: flex;
  flex-direction: column;
  /* hér verðum við að reikna út breidd svo að flex-wrap virki */
  width: calc(100% - var(--spacing));
}

@media (min-width: 700px) {
  .cardFlex {
    width: calc(50% - var(--spacing));
  }
}
@media (min-width: 1200px) {
  .cardFlex {
    width: calc(32% - var(--spacing));
  }
}
.cardFlex > .image {
  width: 100%;
}

.cardFlex > .image img {
  display: block;
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}

.cardFlex > .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: calc(var(--spacing) / 2);
}

form {
  width: 100%;
  background-color: var(--color-black);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.blackbox-button {
  display: inline-block;
  justify-content: center;
  padding: calc(var(--spacing) * 0.5) calc(var(--spacing) * 0.5);
  border: var(--border-regular);
  border-width: var(--border-width);
  border-color: #e3cdb1;
  color: #e3cdb1;
  background-color: var(--color-background-secondary);
  font-size: 1rem;
  text-decoration: none;
  transition: background-color var(--transition-time-short)
      var(--transition-timing-function),
    color var(--transition-time-short) var(--transition-timing-function),
    border-color var(--transition-time-short) var(--transition-timing-function);
}

.blackbox-button:hover {
  color: var(--color-white);
  background-color: #e3cdb1;
  border-color: #e3cdb1;
}

.blackbox > section > .subscribe {
  color: var(--color-white);
  font-size: 40px;
  display: inline-block;
}

::placeholder {
  color: #525252;
  opacity: 1;
}

fieldset input,
fieldset select,
fieldset textarea {
  padding: calc(var(--spacing) * 0.5);
  width: 100%;
  background-color: var(--color-black);
  color: var(--color-white);
  border-style: none;
  text-decoration: underline;
}

fieldset {
  border: 0;
}

fieldset label {
  color: var(--color-white);
}

fieldset input[type="checkbox"] {
  display: inline-block;
  margin-right: calc(var(--spacing) * 0.5);
  width: auto;
}

/*# sourceMappingURL=styles.css.map */
