#rectangle {           
  height: 14.55px;           
  top: 1004.87px;            
  left: 595.65px;            
  background: #FAFAFA;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px;             
  border: 1px solid #ddd;   
  position: absolute;
  display: grid;
  grid-template-rows: auto;
  gap: var(--vertical-space);
  justify-items: center;
  width: 100%;         
}
