
/* Almennt */

/** Letur og stærðir **/

/*** Grunnstærð er 16px ***/
html {
    font-size: var(--font-size-base);
  }
  
  /*** Leturgerðir sem við sækjum úr fonts/ möppu ***/
  @font-face {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("./fonts/PlayfairDisplay-VariableFont_wght.ttf") format("woff2");
  }
  
  @font-face {
    font-family: "Playfair Display";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("./fonts/PlayfairDisplay-VariableFont_wght.ttf") format("woff2");
  }
  
  @font-face {
    font-family: "Poppins";
    font-weight: 500;
    src: url("./fonts/Poppins/Poppins-Regular.ttf") format("woff2");
  }
  
  /*** Allt meginmál notar open sans ***/
  html,
  input,
  select {
    font-family: var(--font-family-base);
    color: #5e5b69;
  }
  button {
    color: #e3cdb1;
  }
  
  /*** Allar fyrirsagnir nota Matemasie regular ***/
  h1,
  h2,
  h3,
  legend {
    font-family: var(--font-family-heading);
    color: #000000;
  }
  
  /** Lætur myndir aldrei taka meira pláss en foreldri skilgreinir **/
  img {
    max-width: 100%;
  }
  
  /** Litur á hlekkjum erfist frá foreldri **/
  a {
    color: inherit;
    text-decoration: none;
  }