/** Card flex **/

.cards-flex {
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
  }
  
  .cards-flex > .title {
    width: 100%;
    text-align: center;
  }
  
  .cards-flex > .content {
    display: flex;
    justify-content: center;
    gap: calc(var(--spacing) * 2);
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
  }
  
  /** Card **/
  
  .card-flex {
    display: flex;
    flex-direction: column;

    /* hér verðum við að reikna út breidd svo að flex-wrap virki */
    width: calc(100% - var(--spacing));
  }
  
  @media (width >= 700px) {
    .card-flex {
      width: calc(50% - var(--spacing));
    }
  }
  
  @media (width >= 1200px) {
    .card-flex {
      width: calc(32% - var(--spacing));
    }
  }
  
  .card-flex > .image {
    width: 100%;
  }
  
  .card-flex > .image img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: 50% 50%;
  }
  
  .card-flex > .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--spacing);
    padding: calc(var(--spacing) / 2);
  }
  