
.month {
    color: #9b9b9b;
    size: 14px;
  }
  
  .readmore {
    color: #e3cdb1;
    size: 16px;
  }
  
  .website {
    color: #d0d0d0;
  }
  
  .craving {
    color: #e3cdb1;
  }
  
  .whitetext {
    color: var(--color-white);
  }
  